@model IEnumerable<CGVBooking.Models.Film>
@using CGVBooking.Common;
@{
    ViewBag.Title = "ReleasedFilm";
    Layout = "~/Views/Shared/MyLayout.cshtml";
    var releasedFilm = Model.ToList();
}

<div class="released-film">
    <div class="page-title">
        <h1>Phim Đang Chiếu</h1>
        <hr>
    </div>

    @foreach (var f in releasedFilm)
    {

        string srcPoster = "~/Content/img/poster/" + f.Poster;
        <div class="upcoming-movie-item">

            <div class="slide-item">
                <img src="@Url.Content(srcPoster)">

                <div class="link-booking">
                    @Html.ActionLink("Mua Vé Ngay", "ShowTimesList", "Booking", new { id = f.FilmID }, new { @class = "booking-ticket", @onclick = "checkLogin()" })
                    @Html.ActionLink("Xem Chi Tiết", "Detail", "Film", new { id = f.FilmID }, new { @class = "movie-detail" })
                </div>
            </div>

            <h4 style="text-transform: uppercase; margin-top: 10px; font-weight:bold">@f.Name</h4>

            <div class="upcoming-movie-detail">
                <span style="font-weight: bold;">Thể loại:</span>
                <span>@f.Type</span>
            </div>

            <div class="upcoming-movie-detail">
                <span style="font-weight: bold;">Thời lượng:</span>
                <span>@f.Time</span>
            </div>

            <div class="upcoming-movie-detail">
                <span style="font-weight: bold;">Khởi chiếu:</span>
                <span>@f.PremiereDate.ToString("dd/MM/yyyy")</span>
            </div>

        </div>
    }
</div>


@{

    if (Session[CommonConstants.USER_SESSION] == null)
    {
        <script type="text/javascript">
    function checkLogin() {
                alert("Vui lòng đăng nhập trước khi mua vé");
            }</script>
    }
}

<style>
    .released-film {
        width: 980px;
        margin: 10px auto;
    }

    .page-title {
        margin: 20px 0 40px 0;
    }

        .page-title h1 {
            padding-bottom: 10px;
            color: #222;
        }

        .page-title hr {
            width: 94.5%;
            height: 3px;
            background-color: #222;
        }

    .upcoming-movie-item {
        float: left;
        margin-bottom: 40px;
        margin-right: 5.5%;
        width: 185px;
        height: 385px;
    }

    .slide-item {
        position: relative;
    }

        .slide-item img {
            width: 180px;
            height: 260px;
            border: 3px solid #000000;
        }

    .link-booking a {
        background-color: #ee1c25;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        line-height: 40px;
        height: 40px;
        position: absolute;
        left: 25%;
        width: 100px;
        border-radius: 10%;
    }

    .booking-ticket {
        top: 65%;
    }

    .upcoming-movie-detail {
        font-size: 16px;
        margin-top: 5px;
    }
</style>




