@model CGVBooking.Models.TicketBooking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TicketBooking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chair.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chair.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowTimes.ShowTimesID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowTimes.ShowTimesID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketBookingID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
